/*font Variables*/
$pop: 'Poppins', sans-serif;
$open: 'Open Sans', sans-serif;
$play: 'Playfair Display', serif;
$lato: 'Lato', sans-serif;


/*Color Variables*/
$baseColor: #F15722; 
$dip: #242424;
$blue: #051d3e;
$pfont: #797979; 


/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i|Lato:300,400,400i,700,900|Playfair+Display:400,400i,700,700i|Poppins:200,200i,300,400,400i,500,500i,600,600i,700&display=swap');

// Mixins
@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// Placeholder Mixins

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

