/* New Blog Area css
============================================================================================ */
.new_blog_area{
	background: #1a4c8c;
	padding: 80px 0px 100px 0px;
}
.new_blog_item{
	.d-flex{
		overflow: hidden;
		img{
			transition: all 300ms ease;
		}
	}
	.media-body{
		background: #e2e9f2;
		padding: 25px 40px 25px 30px;
		height: 100%;
		h6{
			color: #818181;
			font-size: 13px;
			margin-bottom: 12px;
		}
		h4{
			font-size: 18px;
			color: $dip;
			margin-bottom: 13px;
		}
		p{
			font-size: 15px;
			line-height: 24px;
			color: $pfont;
			margin-bottom: 4px;
		}
	}
	&:hover{
		.d-flex{
			img{
				transform: scale(1.1);
			}
		}
	}	
}
/* End New Blog Area css
============================================================================================ */

/* Main Blog Area css
============================================================================================ */
.blog_area{
	padding-bottom: 140px;
}
.blog_inner{
	
}
.blog_list{
	padding-right: 30px;
}
.blog_item{
	margin-bottom: 75px;
	&:last-child{
		margin-bottom: 0px;
	}
	.blog_img{
		margin-bottom: 35px;
		overflow: hidden;
		position: relative;
		z-index: 3;
		display: block;
		&:before{
			content: "";
			background: rgba(0,0,0,.5);
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: all 300ms ease;
			z-index: 1;
		}
		img{
			transition: all 300ms ease;
		}
	}
	.blog_text{
		h4{
			font-size: 28px;
			color: $blue;
			border-bottom: 1px solid #e4e4e4;
			margin-bottom: 0px;
			padding-bottom: 12px;
			@include transition;
		}	
		.nav{
			margin-bottom: 22px;
			margin-top: 14px;
			li{
				margin-right: 20px;
				a{
					color: #b8b8b8;
					font-family: $pop;
					font-weight: 600;
					font-size: 15px;
					@include transition;
					i{
						padding-right: 10px;
						color: #3a81af;
						font-size: 16px;
					}
					&:hover{
						color: #3a81af;
					}
				}
				&:last-child{
					margin-right: 0px;
				}
			}
		}
		p{
			margin-bottom: 25px;
		}
	}
	&:hover{
		.blog_img{
			&:before{
				opacity: 1;
			}
			img{
				transform: scale(1.1);
			}	
		}
		.blog_text{
			h4{
				color: $baseColor;
			}
		}
	}
}
.pagination_area{
	margin-top: 50px;
	margin-bottom: 0px;
	.pagination{
		border: none;
		border-radius: 0px;
		margin-bottom: 0px;
		li{
			margin-right: 10px;
			a{
				border-radius: 0px !important;
				padding: 0px;
				width: 44px;
				height: 44px;
				border: 2px solid #d4d4d4;
				text-align: center;
				line-height: 40px;
				font-family: $open;
				font-weight: bold;
				font-size: 18px;
				color: $dip;
			}
			&:hover, &.active{
				a{
					background: #13213b;
					border-color: #13213b;
					color: #fff;
				}
			}
		}
	}
}

.right_sidebar_area{
	
}
.r_widget{
	margin-bottom: 40px;
}
.r_title{
	margin-bottom: 20px;
	h3{
		color: $blue;
		margin-bottom: 0px;
		font-size: 24px;
	}
}
.categories_widget{
	.list{
		margin-top: -5px;
		li{
			a{
				display: block;
				border-bottom: 1px solid #e6e6e6;
				font-size: 16px;
				font-weight: 500;
				font-family: $pop;
				color: $pfont;
				line-height: 42px;
				@include transition;
				i{
					float: right;
					line-height: 42px;
					@include transition;
					left: 0px;
					position: relative;
					color: #c8c8c8;
				}	
			}
			&:last-child{
				a{
					border-bottom: 0px;
				}
			}
			&:hover{
				a{
					color: $baseColor;
					i{
						position: relative;
						left: -4px;
					}
				}
			}
		}
	}
}
.search_widget{
	.input-group{
		display: block;
		input{
			width: 100%;
			border-radius: 0px;
			outline: none;
			box-shadow: none;
			height: 52px;
			font-size: 15px;
			color: #7a7a7a;
			font-family: $open;
			border: 1px solid #d3d3d3;
			padding: 0px 50px 0px 20px;
			@include placeholder{
				font-size: 15px;
				color: #7a7a7a;
				font-family: $open;
			}
		}
		.input-group-append{
			position: absolute;
			right: 1px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 5;
			.btn{
				padding: 0px 14px;
				margin-left: 0px;
				background: #e3ebf0;
				outline: none !important;
				box-shadow: none !important;
				border-radius: 0px;
				line-height: 48px;
				display: inline-block;
				border-left: 1px solid #d3d3d3;
				i{
					font-size: 16px;
					color: #414141;
				}
			}
		}
	}
}
.tags_widget{
	.list{
		margin-right: -7px;
		margin-bottom: -10px;
		li{
			display: inline-block;
			margin-right: 7px;
			margin-bottom: 10px;
			a{
				border: 1px solid #e4e4e4;
				font-size: 15px;
				color: #a6a6a6;
				font-family: $open;
				display: inline-block;
				padding: 0px 15px;
				line-height: 36px;
				@include transition;
			}
			&:hover{
				a{
					color: #fff;
					background: $baseColor;
					border-color: $baseColor;
				}
			}
		}
	}
}
.recent_widget{
	.recent_w_inner{
		.recent_item{
			border-bottom: 1px solid #e1e1e1;
			h4{
				font-size: 15px;
				line-height: 22px;
				font-family: $pop;
				font-weight: 500;
				color: $dip;
				padding-top: 17px;
			}
			p{
				font-size: 15px;
				color: #9a9a9a;
				font-family: $pop;
			}
			&:first-child{
				h4{
					padding-top: 0px;
				}
			}
		}
	}
}

.single_blog_inner{
	.blog_item{
		margin-bottom: 36px;
	}
}
.two_column_text{
	margin-bottom: 50px;
	p{
		margin-bottom: 0px;
	}
}
.b_single_text{
	color: $dip;
	font-size: 22px;
	margin-bottom: 25px;
}
.single_element_text{
	p{
		a{
			color: $baseColor;
			text-decoration: underline;
			font-family: $open;
		}
	}
}

.single_title{
	margin-bottom: 40px;
	h3{
		font-size: 22px;
		color: $blue;
	}
}
.s_comment_list{
	margin-top: 45px;
    .s_comment_list_inner{
        border: 1px solid #eeeeee;
        .media{
            padding-top: 25px;
            padding-bottom: 28px;
            padding-left: 25px;
            padding-right: 75px;
            margin-top: 0px;
            border-bottom: 1px solid #eeeeee;
            .d-flex{
                padding-right: 30px;
            }
            .media-body{
                h4{
                    font-size: 15px;
                    font-family: $pop;
                    letter-spacing: .45px;
					line-height: normal;
					color: $dip;
					font-weight: 500;
					margin-bottom: 8px;
                }
                p{
					margin-bottom: 0px;
                }
                .date_rep{
                    margin-top: 7px;
                    a{
                        font-size: 14px;
                        font-family: $open;
                        letter-spacing: .39px;
                        color: #aeaeae;
                        margin-right: 20px;
                        position: relative;
                        &:before{
                            content: "";
                            background: #aeaeae;
                            height: 13px;
                            width: 1px;
                            position: absolute;
                            right: -12px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        &:last-child{
                            color: $baseColor;
                            &:before{
                                display: none;
                            }
                        }
                    }
                }
                .media{
                    background: transparent;
                    padding-left: 0px;
                    padding-top: 40px;
                    padding-right: 0px;
					padding-bottom: 0px;
                }
            }
            &:nth-child(even){
                background: #fcfcfc;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
}

.s_comment_area{
    margin-top: 60px; 
    .s_comment_inner{
        background: #f7f7f7;
        border: 1px solid #eeeeee;
        padding: 50px 35px;
        .contact_us_form{
            .form-group{
				margin-bottom: 20px;
                input{
                    background: #fff;
                    font-size: 16px;
                    color: #737373;
					height: 45px;
					border: 1px solid #eeeeee;
					border-radius: 0px;
					padding: 0px 20px;
					box-shadow: none;
					background: #fff;
                    font-family:$open;
					line-height: 45px;
                    @include placeholder{
                        font-size: 16px;
                        color: #737373;
                        font-family: $open;
						line-height: 45px;
                    }
                }
                textarea{
                    background: #fff;
                    border-color: #eeeeee;
					box-shadow: none;
					height: 172px;
					padding: 15px 20px;
					border-radius: 0px;
					resize: none;
					font-size: 16px;
					color: #737373;
					font-family: $open;
                    @include placeholder{
                        font-size: 16px;
                        color: #737373;
                        font-family: $open;
                    }
                }
                &:last-child{
                    margin-top: 10px;
					margin-bottom: 0px;
                }
				.submit_btn{
					display: inline-block;
					width: auto;
					color: #fff;
					line-height: 42px;
					height: 42px;
					padding: 0px 20px;
					&:hover{
						color: $baseColor;
					}
				}
            }    
        }
    }
}
/* End Main Blog Area css
============================================================================================ */